* {
    margin: 0; 
    padding: 0;
}

body {
  background-color: #eee;
}

.wrapper {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.image-banner {
    display: none;
}

.header {
    display: none;
}

.footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: black;
    color: white;
}

.footer a {
    color: red;
}

header {
    width: 100%;
    overflow: hidden;
  background-color: #333;
  position: relative;
}

header #myLinks {
  display: none;
}

header a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

header a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

header a:hover {
  background-color: #ddd;
  color: red;
}

.active {
  background-color: black;
  color: white;
}

.active img {
    display: none;
}

.login-form {
    padding: 14px 16px;
}

.login-form button {
    cursor: pointer;
    display: inline-block;
    /*border: 2px solid white;*/
    /*border-radiuss: 4px; */
    background-color: #333;
    /*margin-left: 8px;*/
    color: #FFF;
    text-align: right;
    font-size: 17px;
    border: none;
}

.logout-button {
    cursor: pointer;
    background-color: #333;
    padding: 14px 16px;
    color: #FFF;
    text-align: left;
    font-size: 17px;
    width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 13px;
  overflow-x: auto;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table {
    overflow-x:auto;
}


.form-signup {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 200px;
}

.form-signup input {
  width: calc(100% - 30px);
  height: 30px;
  padding: 0 15px;
  margin-bottom: 6px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #F6F6F6;
  float: left;
  font-family: arial;
  text-align: center;
}

.form-signup button {
  display: block;
  height: 40px;
  padding: 0 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #333;
  font-family: arial;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}
.signuperror {
  padding-top: 14px;
  font-family: arial;
  font-size: 16px;
  color: red;
  text-align: center;
}

.signupsuccess {
  padding-top: 14px;
  font-family: arial;
  font-size: 16px;
  color: green;
  text-align: center;
}

@media only screen and (min-width: 768px) {
    .header {
        display: block;
        background:#1abc9c;
        background-image: url("images/denethor.jpg");
        background-repeat: no-repeat;  
        background-size: cover;
        text-align:center;
        padding:170px;
        color:white;
        font-size:30px;   
    }


    .active img {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .header {
        display: block;
        background:#1abc9c;
        background-image: url("images/denethor.jpg");
        background-repeat: no-repeat;  
        background-size: cover;
        text-align:center;
        padding:250px;
        color:white;
        font-size:30px;   
    }

    .active {
        display: none;
    }

    header #myLinks {
        display: block;
        width: calc(100% - 30px);
        height: 20px;
        padding: 15px 15px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header a.icon {
        display: none;
    }

    .nav-header-main {
        display: flex;
        flex-direction: row;
    }


    .nav-header-main ul {
        height: 100%;
    }

    .nav-header-main ul li {
        list-style: none;
        float: left;
        height: 100%;
    }

    .nav-header-main ul li a {
        display: block;
        text-decoration: none;
        height: 100%;
        padding: 0 10px;
        border-radius: 6px;
        line-height: 48px;
        font-family: arial;
        font-size: 16px;
        color: black;
    }

    .nav-header-main ul li a:hover {
        background-color: #ddd;
        color: red;
    }

    .header-login {
      display: flex;
      flex-direction: row;
    }

    .header-login form input {   
        height: 100%;
        width: 150px;
        font-size: 15px;
        border: none;
        border-radius: 4px;
        background-color: #F6F6F6;
    }

    .login-form {
        padding: 0px 0px;
    }

    .login-form button {
        height: 100%;
        padding: 0 10px;
        border-radius: 6px;
        font-family: arial;
        font-size: 16px;
        color: black;
        background-color: white;
    }

    header button:hover {
          background-color: #ddd;
          color: red;
    }

    .logout-button {
        background-color: white;
        color: black;
        border: none;
        font-size: 16px;
    }

    .header-signup {
        display: block;
        text-decoration: none;
        height: 100%;
        padding: 0 10px;
        border-radius: 6px;
        line-height: 48px;
        font-family: arial;
        font-size: 16px;
        color: black;
    }

}

