
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}



.header {
  //background:#1abc9c;
  background-image: url("images/witch_king_3.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
  text-align:center;
  padding:210px;
  color:white;
  font-size:30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}



/* navbar general */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}



/* Body */
.body1 {
  margin: 0;
  bottom-margin: 200px;
  padding: 0;
  text-align: center;
  height: 145%;
}

.body2 {
  margin: 0;
  bottom-margin: 200px;
  padding: 0;
  text-align: center;
  height: 150%;
}

body {
  margin:0;
  bottom-margin: 200px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

//
/* Table for talks */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

